{{#partial "title" }}
    Hero Squad
{{/partial}}

{{#partial "content"}}
    <div class="h-100">
        <div class="row h-100">
            <div class="col-md-6 blue-to-white">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-fluid rotate-45">
                                <img src="/assets/hero4.png" alt="placeholder" class="img-fluid rotate-10">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-fluid rotate-45">
                                <img src="/assets/hero2.png" alt="placeholder" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="img-fluid rotate-45">
                                <img src="/assets/hero3.png" alt="placeholder" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="img-fluid rotate-45">
                                <img src="/assets/hero1.png" alt="placeholder" class="img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 d-none d-md-flex flex-column justify-content-center align-items-center">
                    <h1 class="display-4">Hero Squad</h1>
                    <p class="lead">
                        A web application for creating and managing hero squad lists.
                    </p>
                    <a href="/heroes" class="btn btn-outline-dark text-black">
                       Get Started <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="h-100 d-md-none d-flex flex-column justify-content-center align-items-between">
                    <h1 class="display-4">Hero Squad</h1>
                    <p class="lead">
                        A web application for creating and managing hero squad lists.
                    </p>
                    <a href="/heroes" class="btn btn-outline-dark text-black">
                        Get Started <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}
